html {
	background: #456;
}
body {
	overflow: auto;
}
a {
	color: #e40000;
	text-decoration: none;
}
a:hover {
	color: #FF7E00;
}

nav {
	background: rgba(42, 42, 42, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	z-index: 9999;
	color: white;
}

nav a {
	color: white;
	text-decoration: none;
}

nav ul a {
	opacity: 0.5;
}

nav li.current a {
	opacity: 1;
}

nav a:hover {
	opacity: 1;
}

nav ul {
	display: inline-block;
	margin: 0px 0 0 0;
}

nav li {
	display: inline-block;
	margin: 0;
	padding: 0 5px;
}

nav a span {
	display: none;
}

nav h2 {
	margin: 0;
}

nav#menulateral {
	background: white;
	top:50px;
	width: 200px;
	height: 100%;
	left: 0px;
	font-size: 12px;
	line-height: 28px;
	color: #444;
	position: fixed;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
}
nav#menulateral a {
	color: #444;
	text-decoration: none;
}
nav#menulateral img {
	vertical-align: middle;
	margin: 0 10px;
}
nav#menulateral ul {
	margin: 0px 10px 30px;
	display: block;
}

nav#menulateral li {
	margin: 5px 0;
	padding: 0 5px;
	opacity: 0.9;
	cursor: pointer;
	display: block;
	height: 20px;
	line-height: 20px;
}

nav#menulateral li.current {
	background: white;
	opacity: 1;
}
nav#menulateral li:hover {
	background: #ddd;
	opacity: 1;
}
nav#menulateral li:hover a {
	opacity: 1;
}
nav#menulateral .credits {
	font-size: 10px;
}
nav#menulateral .credits li {
	opacity: 1;
	padding: 0 10px;
}

form div {
	display: inline-block;
	vertical-align: top;
}

form div.field-vacio {
	width: 50%;
}

form label {
	width: auto;
	display: block;
	height: auto;
	text-align: left;
	/*margin-right: 5px;
	vertical-align: top;*/
	padding: 5px;
}

form .campo {
	font-size: 15px;
    text-shadow: 0px 1px 0px #ddd;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
}

form .campo.small {
	 min-width: 50px;
	 max-width: 50px;
}

form .campo.medium {
	 min-width: 80px;
	 width: 180px;
	 max-width: 180px;
}

form > div {
	min-width: 250px;
	max-width: 400px;
	margin-bottom: 20px;
}
.divsmall {
	width: 300px;
}
.divbig {
	width: 400px;
}

input {
    padding: 5px;
    min-width: 250px;
}
input[type='checkbox'] {
	min-width: 50px;
}

textarea {
	padding: 5px;
    min-width: 250px;
    min-height: 150px;
}

form select {
	min-width: 262px;
    -webkit-appearance: none;
    background: #fff url(../img/interface/select-down.png) no-repeat right;
    padding: 5px 30px 5px 5px;
}

input:focus, select:focus, textarea:focus {
    -webkit-box-shadow: 0px 0px 5px 2px #ff7e00;
    -moz-box-shadow: 0px 0px 5px 2px #ff7e00;
	box-shadow: 0px 0px 5px 2px #ff7e00;
}

input.ng-invalid {
  	border: 1px solid red;
}
input.ng-valid {
  	border: 1px solid green;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	min-width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
button:hover {
	-moz-box-shadow:inset 0px 1px 0px 0px #8ef597;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8ef597;
	box-shadow:inset 0px 1px 0px 0px #8ef597;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1fc62d), color-stop(1, #37f245) );
	background:-moz-linear-gradient( center top, #1fc62d 5%, #37f245 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1fc62d', endColorstr='#37f245');
	background-color:#1fc62d;
	border:1px solid #18d027;
}
button:active {
	position:relative;
	top:1px;
}

#mapafondo {
	display: none;
	background: rgba(200,200,200,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1020;
	bottom: 0;
	right: 0;
}

#mapa {
	position: fixed;
	left: 50%;
	margin-left: -350px;
	top: 50%;
	margin-top: -250px;
	width: 700px;
	height: 560px;
	background: gray;
	text-align: center;
}
	#mapa .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

	#mapa #pac-input {
    	background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
    }

    #mapa #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
    }

    #mapa .pac-container {
        font-family: Roboto;
    }

#map_canvas, div .map_canvas {
	margin: auto;
	min-width: 400px;
	/* max-width: 880px; */
	width: 700px;
	height: 500px;
	z-index: 1010;
}
#puntosPoly {
	font-size: 10px;
	padding-top: 5px;
}

#optTitle {
	/*float: right;*/
}

.logo {
	font-size: 32px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}

#menu {
	/*background: rgba(42, 42, 42, 0.9) url(../img/interface/logo.png) no-repeat bottom center;*/
}

#menu li {
	display: list-item;
	list-style-type:square;
	margin-left: 20px;
}

#menu a {
	color:#F2F2F2;
}

#menu a:hover {
	color:#FF7E00;
}

#content {
	padding: 0 10px 10px;
	left:0;
	margin-left:0;
	width:calc(100% - 20px);
}
#datos {
	margin-left: 200px;
	margin-bottom: 50px;
}

.checkbox {
	display: inline-block;
	background: -moz-linear-gradient(19% 75% 90deg,#3095C7, #14539C);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14539C), to(#3095C7));
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #555555;
	width: 80px;
	position: relative;
	height: 32px;
}

.checkbox:before {
	content: "SI";
	padding-left: 13px;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	text-shadow: #093B5C 0px -1px 1px;
}

.checkbox:after {
	content: "NO";
	padding-left: 20px;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	text-shadow: #093B5C 0px -1px 1px;
}

.checkbox input[type=checkbox] {
	display: none;
}

.checkbox input[type=checkbox]:checked + label.check {
	top: 0px;
	left: 38px;
	-webkit-animation-name: labelON;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-box-shadow: #244766 -1px 0px 3px;
}

.checkbox input[type=checkbox] + label.check {
	top: 0px;
	left: 0px;
	-webkit-animation-name: labelOFF;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-box-shadow: #244766 1px 0px 3px;
}

.checkbox .check {
	padding: 0;
	display: block;
	width: 40px;
	height: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: -moz-linear-gradient(19% 75% 90deg,#FFFFFF, #A1A1A1);
	background: #fff -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1A1A1), to(#FFFFFF));
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0px;
	left: 0px;
}

.mce-tinymce button {
	min-width: 0;
	border: none;
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.mce-tinymce button:hover {
	moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	border:none;
}

.mce-panel {
	width: 300px;
	display: inline-block;
}

.header-form {
	position: fixed;
	width: 1390px;
	margin-top: 0px;
	margin-left: -10px;
	z-index: 1001;
}

.form {
	margin-top: 50px;
	display: inline-table;
}

.header-list {
	position: fixed;
	width: 1390px;
	margin-top: 0px;
	margin-left: -10px;
	z-index: 1001;
}

#list {
	font-size: 12px;
	margin-top: 85px;
	display: inline-table;
}

.paginacion {
	margin: 85px auto -85px;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.tabla {
	width: 100%;
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
	background: rgba(58, 58, 58, 0.9);
	border-top: 1px solid black;
}

.tabla th a {
	color: white;
}

.tabla-fechas {
	/*width: 100%;*/
	border: 1px solid white;
	min-width: 400px;
}
.col-sala { width: 55px; }
.col-fecha { width: 180px; }
.col-fecha-list { min-width: 100px; }
.col-duracion { width: 75px; }
.col-precio { width: 105px; }
.col-precioanticipada { width: 130px; }
.col-entradas { width: 270px; }
.col-lugar { width: 270px; }
.col-checkbox { width: 95px; text-align: center; }
.col-coordenadas { width: 130px; }
.col-remove { width: 65px; text-align: center; }

.field-sala { width: 50px; min-width: 50px; }
.field-fecha { width: 165px; min-width: 50px; }
.field-duracion { width: 60px; min-width: 50px; }
.field-precio { width: 90px; min-width: 50px; }
.field-precioanticipada { width: 115px; min-width: 50px; }
.field-entradas { width: 250px; min-width: 50px; }
.field-lugar { width: 250px; min-width: 50px; }
.field-lugar-small { width: 205px; min-width: 50px; }
.field-limitereserva { font-size: 13px; min-width: 50px; width: 125px; }
.field-coordenadas { width: 115px; min-width: 50px; }


#result_scraperDIV {
	padding-top: 20px;
	min-height: 200px;
	max-width: calc(100% - 250px);
}

#facebookG{
width:51px}

.facebook_blockG{
background-color:#FFFFFF;
border:1px solid #FF0000;
float:left;
height:36px;
margin-left:3px;
width:10px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#blockG_2{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#blockG_3{
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}