html {
	background: #eee;
}

#main {
	background: rgba(58, 58, 58, 0.9);
	padding: 10px;
	color: #f2f2f2;
	width: 75%;
	margin: auto;
	text-align: center;
}

#header-logo {
	float: left;
	margin: 0 10px 0 0;
}

#sectionTitle {
	font-size: 32px;
	display: inline-block;
	height: 36px;
	margin-left: -225px;
	position: absolute;
	left: 50%;
	width: 450px;
	text-align: center;
}

#loginbox {
    text-align: center;
    display: inline-block;
}

#errorbox {
    background: #c44242;
    border: 1px solid red;
    width: 350px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
}

form div {
	display: inline-block;
	vertical-align: top;
}

form div.field-vacio {
	width: 50%;
}

form label {
	width: 100px;
	display: inline-block;
	height: 30px;
	vertical-align: top;
	padding: 5px;
}

form .campo {
	font-size: 15px;
    text-shadow: 0px 1px 0px #ddd;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #717171;
}

form .campo.small {
	 min-width: 50px;
	 max-width: 50px;
}

form .campo.medium {
	 min-width: 80px;
	 max-width: 150px;
}

input {
    padding: 5px;
    min-width: 250px;
}

textarea {
	padding: 5px;
    min-width: 250px;
    min-height: 150px;
}

form select {
	min-width: 262px;
    -webkit-appearance: none;
    background: #fff url(../img/interface/select-down.png) no-repeat right;
    padding: 5px 30px 5px 5px;
}

input:focus, select:focus, textarea:focus {
    -webkit-box-shadow: 0px 0px 5px 2px #ff7e00;
    -moz-box-shadow: 0px 0px 5px 2px #ff7e00;
	box-shadow: 0px 0px 5px 2px #ff7e00;
}

input.ng-invalid {
  	border: 1px solid red;
}
input.ng-valid {
  	border: 1px solid green;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	min-width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
button:hover {
	-moz-box-shadow:inset 0px 1px 0px 0px #8ef597;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8ef597;
	box-shadow:inset 0px 1px 0px 0px #8ef597;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1fc62d), color-stop(1, #37f245) );
	background:-moz-linear-gradient( center top, #1fc62d 5%, #37f245 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1fc62d', endColorstr='#37f245');
	background-color:#1fc62d;
	border:1px solid #18d027;
}
button:active {
	position:relative;
	top:1px;
}

.checkbox {
	display: inline-block;
	background: -moz-linear-gradient(19% 75% 90deg,#3095C7, #14539C);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14539C), to(#3095C7));
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #555555;
	width: 80px;
	position: relative;
	height: 32px;
}

.checkbox:before {
	content: "SI";
	padding-left: 13px;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	text-shadow: #093B5C 0px -1px 1px;
}

.checkbox:after {
	content: "NO";
	padding-left: 20px;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	text-shadow: #093B5C 0px -1px 1px;
}

.checkbox input[type=checkbox] {
	display: none;
}

.checkbox input[type=checkbox]:checked + label.check {
	top: 0px;
	left: 38px;
	-webkit-animation-name: labelON;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-box-shadow: #244766 -1px 0px 3px;
}

.checkbox input[type=checkbox] + label.check {
	top: 0px;
	left: 0px;
	-webkit-animation-name: labelOFF;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	-webkit-box-shadow: #244766 1px 0px 3px;
}

.checkbox .check {
	padding: 0;
	display: block;
	width: 40px;
	height: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	background: -moz-linear-gradient(19% 75% 90deg,#FFFFFF, #A1A1A1);
	background: #fff -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1A1A1), to(#FFFFFF));
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 0px;
	left: 0px;
}
