html {
	color: white;
	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

a {
	color: #FF7E00;
	text-decoration: none;
}

a:hover {
	color: #ddd;
}

h1 {
	font-size: 32px;
	display: inline-block;
	height: 36px;
	margin: 0;
	padding: 0;
}
pre {
    position: relative;
    left: 210px;
    top: 100px;
}

img {
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

section, div, footer, header, ul, li {
	display: block;
    direction: ltr;
}

section {
	overflow: visible;
	clear: none;
}

/*body.pml-open nav#menulateral {
    left: 0;
}
body.pml-open #content {
    left: 200px;
    width: calc(100% - 225px);
    margin-left: 5px;
}

body #contentMap {
    left: 200px;
	width: calc(100% - 200px);
	margin-left: 0px;
	position: absolute;
	bottom: 0px;
	top: 0px;
}*/

.right {
	float: right;
}

.ampliarCapa {
	display: none;
	cursor: pointer;
}
.ampliarCapa-bg {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ddd;
    -moz-opacity: 0.9;
    opacity:0.9;
    filter: alpha(opacity=90);
    z-index: 1002;
}
.ampliarCapa-msg {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index:1002;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
    color: black;
}

nav#menulateral {
	background: #fff;
	top:50px;
	width: 200px;
	min-height: calc(100% - 85px);
	left: 0;
	font-size: 12px;
	line-height: 28px;
	color: #444;

	position: fixed;
    z-index: 20;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    /*border-right: 1px solid #bbb;*/
}
	nav#menulateral #pin {
		text-align: right;
	}
		nav#menulateral #pin img {
			cursor: pointer;
		}
		nav#menulateral #pin #pin-text {
			cursor: pointer;
			color: #aaa;
			margin-right: 10px;
			/*border: 1px solid #888;
			padding: 3px;
			background: #ddd;*/
		}
		nav#menulateral #pin #pin-text:hover {
			/*background: #888;
			color: white;
			border: 1px solid #ddd;
			*/
			color: #444;
		}
	nav#menulateral a {
		color: #888;
		text-decoration: none;
	}
	nav#menulateral img {
		vertical-align: middle;
		margin: 0 10px;
	}
	nav#menulateral #secciones li div {
		background-image: url('../img/interface/iconos-20.png');
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
    nav#menulateral #secciones li {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
	nav#menulateral #secciones li.mcartelera { border-right: 3px solid rgba(231, 0, 122, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.mcartelera:hover { box-shadow: inset -180px 0 0 0 rgba(231, 0, 122, 1);}
        nav#menulateral #secciones li.mcartelera:hover a { color: white }
        nav#menulateral #secciones li.mcartelera.current { background: rgba(231, 0, 122, 1); }
        nav#menulateral #secciones li.mcartelera.current a { color: white }
	nav#menulateral #secciones li.mconciertos { border-right: 3px solid rgba(0, 155, 238, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.mconciertos:hover { box-shadow: inset -180px 0 0 0 rgba(0, 155, 238, 1);}
        nav#menulateral #secciones li.mconciertos:hover a { color: white }
        nav#menulateral #secciones li.mconciertos.current { background: rgba(0, 155, 238, 1); }
        nav#menulateral #secciones li.mconciertos.current a { color: white }
	nav#menulateral #secciones li.mobrasteatro { border-right: 3px solid rgba(120, 76, 42, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.mobrasteatro:hover { box-shadow: inset -180px 0 0 0 rgba(120, 76, 42, 1);}
        nav#menulateral #secciones li.mobrasteatro:hover a { color: white }
        nav#menulateral #secciones li.mobrasteatro.current { background: rgba(120, 76, 42, 1); }
        nav#menulateral #secciones li.mobrasteatro.current a { color: white }
	nav#menulateral #secciones li.mexposiciones { border-right: 3px solid rgba(255, 246, 0, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.mexposiciones:hover { box-shadow: inset -180px 0 0 0 rgba(255, 246, 0, 1);}
        nav#menulateral #secciones li.mexposiciones:hover a { color: black }
        nav#menulateral #secciones li.mexposiciones.current { background: rgba(255, 246, 0, 1); }
        nav#menulateral #secciones li.mexposiciones.current a { color: black }
	nav#menulateral #secciones li.mdeportes { border-right: 3px solid rgba(238, 65, 22, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.mdeportes:hover { box-shadow: inset -180px 0 0 0 rgba(238, 65, 22, 1);}
        nav#menulateral #secciones li.mdeportes:hover a { color: white }
        nav#menulateral #secciones li.mdeportes.current { background: rgba(238, 65, 22, 1); }
        nav#menulateral #secciones li.mdeportes.current a { color: white }
	nav#menulateral #secciones li.minfantil { border-right: 3px solid #8DE2FF;  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.minfantil:hover { box-shadow: inset -180px 0 0 0 #8DE2FF;}
        nav#menulateral #secciones li.minfantil:hover a { color: white }
        nav#menulateral #secciones li.minfantil.current { background: #8DE2FF; }
        nav#menulateral #secciones li.minfantil.current a { color: white }
	nav#menulateral #secciones li.mformacion { border-right: 3px solid rgba(135, 30, 83, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.mformacion:hover { box-shadow: inset -180px 0 0 0 rgba(135, 30, 83, 1);}
        nav#menulateral #secciones li.mformacion:hover a { color: white }
        nav#menulateral #secciones li.mformacion.current { background: rgba(135, 30, 83, 1); }
        nav#menulateral #secciones li.mformacion.current a { color: white }
	nav#menulateral #secciones li.meventos { border-right: 3px solid rgba(13, 135, 49, 1);  box-shadow: inset 0 0 0 0 transparent; }
        nav#menulateral #secciones li.meventos:hover { box-shadow: inset -180px 0 0 0 rgba(13, 135, 49, 1);}
        nav#menulateral #secciones li.meventos:hover a { color: white }
        nav#menulateral #secciones li.meventos.current { background: rgba(13, 135, 49, 1); }
        nav#menulateral #secciones li.meventos.current a { color: white }
	nav#menulateral #secciones li #main-icon { background-position:0px 0px; }
	nav#menulateral #secciones li #novedades-icon { background-position:-20px 0px; }
	nav#menulateral #secciones li #lugares-icon { background-position:-20px -40px; }
	nav#menulateral #secciones li #conreserva-icon { background-position:-40px -40px; }
	nav#menulateral #secciones li #cartelera-icon { background-position:-40px 0px; }
	nav#menulateral #secciones li #conciertos-icon { background-position:-60px 0px; }
	nav#menulateral #secciones li #obrasteatro-icon { background-position:-80px 0px; }
	nav#menulateral #secciones li #exposiciones-icon { background-position:-100px 0px; }
	nav#menulateral #secciones li #deportes-icon { background-position:-120px 0px; }
	nav#menulateral #secciones li #infantil-icon { background-position:0px -200px; }
	nav#menulateral #secciones li #formacion-icon { background-position:-20px -20px; }
	nav#menulateral #secciones li #eventos-icon { background-position:-40px -20px; }
	nav#menulateral #secciones li #contacto-icon { background-position:-60px -20px; }
	nav#menulateral #secciones li #encuesta-icon { background-position:-100px -20px; }
	nav#menulateral #secciones li #upload-icon { background-position:-120px -20px; }
	nav#menulateral #secciones li #acercade-icon { background-position:0px -40px; }

	nav#menulateral ul {
		margin: 0px 10px 30px;
	}

	nav#menulateral li {
		margin: 5px 0;
		padding: 0 5px;
		opacity: 0.5;
		cursor: pointer;
	}

	nav#menulateral li.current {
		background: white;
		opacity: 1;
	}
	nav#menulateral li:hover {
		background: white;
		opacity: 1;
	}
	nav#menulateral .credits {
		font-size: 10px;
	}
	nav#menulateral .credits li {
		opacity: 1;
		padding: 0 10px;
		height: 15px;
		line-height: 15px;
	}

nav#filters {
	background: #e02323; /*rgba(42, 42, 42, 0.9);*/
	position: fixed;
	top: 0;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 9999;
	color: white;
}

	nav#filters a {
		color: white;
		text-decoration: none;
		line-height: 25px;
	}

	nav#filters a:hover {
		opacity: 1;
	}

	nav#filters ul {
		display: inline-block;
	}

		nav#filters ul a {
			opacity: 0.5;
		}

	nav#filters li {
		display: inline-block;
		margin: 0;
		padding: 0 5px;
	}

		nav#filters li.current a {
			opacity: 1;
		}

nav #menutoggle {
	float: left;
	cursor: pointer;
}
nav #header-logo {
	line-height: 50px;
	margin-left: 10px;
    font-size: 26px;
}
	nav #header-logo .logo-part1 {
		color: white;
	}
	.logo-part1 {
		color: #e02323;
	}
	.logo-part2 {
		/*color: white;*/
	}
	nav #header-logo .version {
		font-size: 8px;
		display: none;
	}
	nav #header-logo img {
		height: 35px;
		margin-top: 6px;
	}

nav #header-options {
	float: right;
}

nav #search {
	float: right;
	cursor: pointer;
	position: relative;
}
	nav #search .dropdown-menu {
		display: none;
	    position: absolute;
	    top: 50px;
	    right: -61px;
	    width: 260px;
	    background: white;
	    border: 1px solid #ddd;
	    color: #888;
	    cursor:auto;
	    font-size: 12px;
	    padding-top: 5px;
	    /*height: 330px;*/
	}
nav #view-config {
	float: right;
	cursor: pointer;
	position: relative;
}
	nav #view-config .dropdown-menu {
		display: none;
	    position: absolute;
	    top: 50px;
	    right: -1px;
	    width: 155px;
	    background: white;
	    border: 1px solid #ddd;
	    color: #888;
	    cursor:auto;
	    font-size: 12px;
	    min-height: 270px;
	}
		nav #view-config .dropdown-menu img {
			vertical-align: middle;
		}
		nav #view-config .dropdown-menu ul {
			margin: auto;
		}
		nav #view-config .dropdown-menu li {
			padding: 5px;
		}
			nav #view-config .dropdown-menu li ul {
				font-size: 12px;
			}
			nav #view-config .dropdown-menu #view-filter li {
				display: inline-block;
			}
				nav #view-config .dropdown-menu #view-filter li div {
					background-image: url('../img/interface/iconos-16.png');
					width: 16px;
					height: 16px;
					display: inline-block;
					vertical-align: middle;
				}
				nav #view-config .dropdown-menu #view-filter li #cartelera { background-position: 0px 0px; }
				nav #view-config .dropdown-menu #view-filter li #conciertos { background-position: -16px 0px; }
				nav #view-config .dropdown-menu #view-filter li #obrasteatro { background-position: -32px 0px; }
				nav #view-config .dropdown-menu #view-filter li #exposiciones { background-position: -48px 0px; }
				nav #view-config .dropdown-menu #view-filter li #deportes { background-position: 0px -16px; }
				nav #view-config .dropdown-menu #view-filter li #formacion { background-position: -16px -16px; }
				nav #view-config .dropdown-menu #view-filter li #eventos { background-position:-32px -16px; }

			nav #view-config .dropdown-menu #view-style li {
				cursor: pointer;
				width: 135px;
			}
				nav #view-config .dropdown-menu #view-style li.current {
					background: #eee;
				}
				nav #view-config .dropdown-menu #view-style li:hover {
					background: #eee;
				}
			nav #view-config .dropdown-menu #view-density li {
				cursor: pointer;
				width: 135px;
				padding-left: 25px;
			}
				nav #view-config .dropdown-menu #view-density li.current {
					background: #eee;
				}
				nav #view-config .dropdown-menu #view-density li:hover {
					background: #eee;
				}

#listOptions {
	margin: 0;
	padding: 5px 10px;
	background: rgba(158, 158, 158, 0.9);
	border-top: 1px solid black;
	display: none;
}

footer {
	background: rgba(239, 239, 239, 0.9);
	color: #666;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	text-align: center;
	z-index:900;
}

	footer a {
		color: #c40000;
		text-decoration: none;
	}

	#footer-social {
		bottom: 0;
		position: absolute;
		text-align: center;
		/*width: 200px;*/
		right: 25px;
	}
		#footer-social a {
			padding: 1px 10px;
		}

#cookie-law-info-bar {
	display: block;
	color: rgb(88, 88, 88);
	font-family: inherit;
	font-size: 12px;
	position: fixed;
	width: 100%;
	bottom: 35px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	z-index: 1001;
}
#cookie_action_close_header {
	color: rgb(255, 255, 255);
	background-color: rgb(88, 88, 88);
	padding: 5px;
	margin: 2px 5px;
}

#sectionTitle {
	font-size: 32px;
	display: inline-block;
	height: 36px;
	margin-left: -100px;
	position: absolute;
	left: 50%;
	width: 200px;
	text-align: center;
}

#content {
	padding: 10px;
	/*width: calc(100% - 20px);*/
	margin: 50px auto 0;
	position: relative;
    z-index: 10;
    /*left: 0;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    left: 200px;
    width: calc(100% - 225px);
    margin-left: 5px;

}
	#content.lista {
		width: calc(100% - 20px);
		margin: 50px auto 0;
	}

#contentMap {
	margin: 50px auto 0;
    z-index: 10;
    position: absolute;
	bottom: 0px;
	top: 0px;
	left: 200px;
	width: calc(100% - 200px);
	margin-left: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.block-wrap {
	background: rgba(58, 58, 58, 1);
	color: #f2f2f2;
	text-shadow: none;
}

.grid {
	position: relative;
	margin-bottom: 40px;
}
.grid-info h2 {
	margin: 0;
	padding: 0;
	line-height: 18px;
	display: inline-block;
}

.celda:hover .grid-info {
	cursor: pointer;
	background: rgba(100, 100, 100, 1);
}
	.celda:hover .grid-info a {
		color: #f2f2f2;
	}
	.celda:hover .grid-info .hour {
		color: #f2f2f2;
	}
.linea:hover .grid-info {
	cursor: pointer;
	background: rgba(100, 100, 100, 1);
}
	.linea:hover .grid-info a {
		color: #f2f2f2;
	}
	.linea:hover .grid-info .hour {
		color: #f2f2f2;
	}

.celda.density-compact .grid-info {
	min-height: 60px;
	width: 130px;
	overflow: hidden;
	height: 60px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.celda.density-compact:hover .grid-info {
	height: 125px;
}
.celda.density-compact .grid-info a {
	font-size: 14px;
}
.celda.density-compact .grid-info .genre {
	font-size: 10px;
}
.celda.density-compact .grid-info .hour {
	font-size: 10px;
}
.celda.density-compact .grid-info .type {
	font-size: 9px;
	padding: 1px;
}
.celda.density-compact.publicidad {
	width: 285px;
	height: 269px;
	text-align:center;
	padding-top: 25px;
	margin: 0;
}
.linea.density-compact.publicidad {
	display: block;
	min-height: 90px;
	height: auto;
	padding: 0;
	width: 100%;
}
.celda.density-compact.conreserva {
	width: 285px;
	height: 284px;
	font-size: 14px;
}
.linea.density-compact.conreserva {
	padding: 5px;
	width: calc(100% - 10px);
}
.linea.density-compact.conreserva h2 {
	margin: 0;
}

.linea.density-compact .grid-info {
	height: 25px;
}
.linea.density-compact .grid-info a {
	font-size: 14px;
	height: 25px;
	padding: 2px 10px;
	top: 0;
}
.linea.density-compact .grid-info .genre {
	font-size: 10px;
	height: 25px;
	padding: 2px;
	top: 0;
}
.linea.density-compact .grid-info .hour {
	font-size: 10px;
	height: 20px;
	padding: 2px 5px;
	line-height: 20px;
}
.linea.density-compact .grid-info .type {
	font-size: 9px;
	padding: 2px;
	top:0;
}

.grid-info {
	position: absolute;
	bottom: 0;
	min-height: 60px;
	background: #f2f2f2; /*rgba(222, 222, 222, 0.9)*/;
	color: #f2f2f2;
	width: 250px;
	margin: 0;
	padding: 5px 10px;
	left: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	text-align: center;
}

.grid-info.infantil { background-color: #8DE2FF; }
.grid-info.reserva { background-color: #006699; }
.grid-info.reserva a { color: white; }
.grid-info.reserva .hour { color: white; }
.grid-info.agotado { background-color: #FF9900; }
.grid-info.cancelado { background-color: #CC3300; }

.grid-info a {
	color: #444;
	font-size: 16px;
}
.grid-info .genre {
	font-size: 12px;
	font-style: italic;
	color: #e02323;/*#e02323;*/
}
.grid-info .hour {
	font-size: 11px;
	color: #444;
}
.grid-info.no-events {
	text-align: center;
	height: 260px;
	font-size: 32px;
    color: #444;
}
.grid-info.no-events:hover {
    color: white;
    cursor: auto;
}

.grid-info .type {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 5px 10px;
	right: 0;
	font-size: 10px;
	text-align: right;
	font-weight: bold;
}
	.celda .grid-info .type {
		top: -21px;
		bottom: auto;
		border-top-left-radius: 5px;
	}
	.celda.density-compact .grid-info .type {
		top: 0;
		border-radius: 0;
	}

.film .type, .film.type-title { /*Rosa*/
	background-color: rgba(231, 0, 122, 1);
}
.concert .type, .concert.type-title { /*Azul*/
	background-color: rgba(0, 155, 238, 1);
}
.theater .type, .theater.type-title { /*Marron*/
	background-color: rgba(120, 76, 42, 1);
}
.event .type, .event.type-title { /*Verde*/
	background-color: rgba(13, 135, 49, 1);
}
.expo .type, .expo.type-title { /*Amarillo*/
	background-color: rgba(255, 246, 0, 1);
	color: black;
}
.sport .type, .sport.type-title { /*Naranja*/
	background-color: rgba(238, 65, 22, 1);
}
.course .type, .course.type-title { /*Violeta*/
	background-color: rgba(135, 30, 83, 1);
}

.museo-closed {
	background: rgba(200, 0, 0, 1);
	text-align: center;
}

.linea .museo-closed {
	position: absolute;
	right:0px;
	z-index:1010;
	text-align: center;
	padding: 5px 10px;
	top: 5px;
}
.linea.density-compact .museo-closed {
	padding: 0px 10px;
	top: 4px;
	font-size: 12px;
}

.error {
	top: 80px;
	background: rgba(58, 58, 58, 0.9);
	padding: 10px;
	color: #f2f2f2;
	width: 75%;
	margin: auto;
	text-align: center;
	position:relative;
	left: 210px;
}

ul#celdas {
	text-align: center;
}
.celda {
	width: 250px;
	height: 250px;
  	margin-bottom: 10px;
  	color: #666; /*#f2f2f2;*/
	padding: 10px;
	background: #f2f2f2;/*rgba(58, 58, 58, 0.9);*/
	border-radius: 5px;
}
	.celda .score {
		font-size: 12px;
		background: rgba(60,60,60,0.7);
		padding: 5px;
		position: absolute;
		top: 0;
		color: #f2f2f2;
		margin: 0;
		padding: 5px 10px;
		right: 0;
		text-align: right;
		border-radius: 5px;
	}
		.celda .score img {
			vertical-align: middle;
		}

.linea {
  	float: left;
	width: calc(100% - 20px);
	height: 20px;
  	margin-bottom: 3px;
  	color: #f2f2f2;
	padding: 10px;
	background: rgba(222, 222, 222, 0.9);
	/*background: rgba(58, 58, 58, 0.9);*/
	display: block;
	color: #444;
}
	.linea img {
		float: left;
		height: 20px;
	}
	.linea br {
		display: none;
	}
	.linea .grid-info {
		width: 100%;
		height: 40px;
		min-height: 20px;
		padding: 0;
		background: rgba(222, 222, 222, 1);
	}
		.linea .grid-info.infantil { background-color: #8DE2FF; }
		.linea .grid-info.agotado { background-color: #FF9900; }
		.linea .grid-info.cancelado { background-color: #CC3300; }
		.linea .grid-info a {
			color: #444;
			padding: 10px;
			position: relative;
			top: 10px;
		}
		.linea .grid-info .hour {
			float: left;
			background: #888;
			padding: 12px 10px;
			border-bottom: 1px solid #888;
			color: #f2f2f2;
		}
		.linea .grid-info .genre {
			position: relative;
			top: 10px;
			color: #e02323;
		}

.celda.density-compact {
  	width: 130px;
	height: 130px;
  	margin-bottom: 4px;
  	padding: 10px;
}

.linea.density-compact {
  	height: 25px;
  	padding: 0px;
  	width: 100%;
}

.celda .ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: /*-5px;*/ -2px;
	right: /*-3px;*/ -2px;
}
.linea .ribbon-wrapper {
	position: absolute;
	right:100px;
	z-index:1010;
	text-align: center;
}
.celda .ribbon-wrapper-2 {
	width: 155px;
	height: 135px;
	overflow: hidden;
	position: absolute;
	top: -5px;
	right: -3px;
}
.linea .ribbon-wrapper-2 {
	position: absolute;
	right:170px;
	z-index:1010;
	text-align: center;
}
.ribbon-infantil {
	color: white;
  	background-color: #8DE2FF;
  	padding: 0 10px;
}
.ribbon-reserva {
	color: white;
  	background-color: #006699;
  	padding: 0 10px;
}
.ribbon-estreno {
	color: white;
  	background-color: #007744;
  	padding: 0 10px;
}
.ribbon-agotado {
	color: white;
  	background-color: #FF9900;
  	padding: 2px 10px;
}
.ribbon-cancelado {
	color: white;
	background-color: #CC3300;
	padding: 0 10px;
}
.celda .ribbon-infantil, .celda .ribbon-agotado, .celda .ribbon-cancelado, .celda .ribbon-reserva, .celda .ribbon-estreno {
	font-size: 14px;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -5px;
	top: 15px;
	width: 120px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.celda .ribbon-wrapper-2 .ribbon-reserva, .celda .ribbon-wrapper-2 .ribbon-estreno {
	width: 179px;
	top: 36px;
	left: 15px;
}

.celda .ribbon-infantil:before, .celda .ribbon-infantil:after, .celda .ribbon-agotado:before, .celda .ribbon-cancelado:before, .celda .ribbon-agotado:after, .celda .ribbon-cancelado:after, .celda .ribbon-reserva:after, .celda .ribbon-reserva:before, .celda .ribbon-estreno:after, .celda .ribbon-estreno:before {
	content: "";
	border-top:   3px solid #6e8900;
	border-left:  3px solid transparent;
	border-right: 3px solid transparent;
	position:absolute;
	bottom: -3px;
}
.celda .ribbon-infantil:before, .celda .ribbon-agotado:before, .celda .ribbon-cancelado:before, .celda .ribbon-reserva:before, .celda .ribbon-estreno:before { left: 0; }
.celda .ribbon-infantil:after, .celda .ribbon-agotado:after, .celda .ribbon-cancelado:after, .celda .ribbon-reserva:after, .celda .ribbon-estreno:after { right: 0; }

.celda.publicidad {
	/*background: rgba(108, 108, 108, 0.9);*/
	/*width: 250px;*/
	text-align: center;
	width: 300px;
	padding-left: 0;
	margin-left: -10px;
	background: gray;
}
.linea.publicidad {
	background: rgba(108, 108, 108, 0.9);
	width: calc(100% - 20px);
	display: block;
	height: auto;
	min-height: 90px;
	text-align: center;
}
.celda.conreserva {
	font-size: 14px;
}
	.conreserva h2 {
		display: block;
		text-align: center;
		margin-top: 0px;
	}
	#main .celda.conreserva li {
		list-style: square;
		margin-left: 20px;
		display: list-item;
		text-align: left;
		border: none;
    	box-shadow: none;
	}
	.conreserva .vermas {
		position: absolute;
		bottom: 0;
		padding: 5px;
		right: 10px;
	}
.linea.conreserva {
	width: calc(100% - 20px);
	display: block;
	height: auto;
	min-height: 90px;
	background: rgba(58, 58, 58, 0.9);
	color: #f2f2f2;
}
.publiMenu {
	width: 200px;
	height: 60px;
	text-align: center;
}
.publiFicha {
	position: absolute;
	bottom: 20px;
	width: 300px;
	height: 250px;
	text-align: center;
}

.celda.film, .celda.concert, .celda.expo, .celda.event, .celda.sport, .celda.theater, .celda.course {
	cursor: pointer;
}

#intro {
	float: left;
}
.logo {
	font-size: 32px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}

#public_search_div {
	position: relative;
}
#public_search {
	padding: 5px;
	min-width: 208px;
	margin: 0;
	font-size: 15px;
	text-shadow: 0px 1px 0px #ddd;
	outline: none;
	border: 1px solid #717171;
	padding-right: 35px;
}

#result_search {
	position: absolute;
	top: 7px;
	color: #aaa;
	right: 10px;
	text-align: right;
	font-size: 14px;
}

.stamp {
	height: 585px;
  	position: absolute;
  	left: 0;
  	top: 0;
}

#main li {
	/*text-shadow: none;*/
	display: inline-block;
	/*font-size: 14px;*/
	position: relative;
	margin: 0 10px 10px 0;
	text-align: center;
    border-radius: 5px;
	vertical-align: top;
    /*border: 1px solid #efefef;*/
    box-shadow: 0px 1px 2px #cbcbcb;
}

#main li h1 {
	font-size: 18px;
}

#datos {
	margin-left: 290px;
}

.listCheckCell {
	width: 10px;
}
.listPublishedCell {
	width: 50px;
}

.tabla {
	width: 100%;
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
	/*background: rgba(58, 58, 58, 0.9);
	border-top: 1px solid black;*/
	margin: 10px 0;
}

.tabla thead tr {
	background: rgba(158, 158, 158, 0.8);
	text-align: left;
}

.tabla th {
	background: rgba(108, 108, 108, 0.8);
	padding: 10px;
	color: #f2f2f2;
}

fieldset {
    border: 1px solid #bbb;
}

/*.tabla tr {
	color: #f2f2f2;
}

/*.tabla tr:nth-child(even) { background: rgba(78, 78, 78, 0.8); }
.tabla tr:nth-child(n+2):nth-child(odd) { background: rgba(58, 58, 58, 0.9); }*/

.tabla td {
	padding: 10px;
}

.hourtable {
	border: none;
	border-collapse: separate;
}
.hourtable .row {
	padding: 10px 10px 5px;
	line-height: 40px;
}

/*Separador */
.or-spacer {
  /*margin-top: 50px;
  margin-left: 100px;
  width: 400px;
  position: relative;*/
  	margin-top: 40px;
	position: relative;
	cursor: pointer;
}
.or-spacer .mask {
  overflow: hidden;
  height: 10px;
  border-top: 1px solid #cbcbcb;
}
/*.or-spacer .mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px white;
}*/
.or-spacer span {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  box-shadow: 0 0 2px #999;
  background: white;
  border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.or-spacer span i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  //border-radius: 5px;
  //border: 1px dashed #aaa;
  text-align: center;
  line-height: 20px;
  font-style: normal;
  color: #999;
}

/*Fin separador*/

.celllocal {
	margin: 5px;
	background: bisque;
	color: black;
	padding: 5px 10px;
	display: block;
}

.cellsala {
	display: inline-block;
	width: 18%;
	min-width: 74px;
	text-align:center;
	background: white;
	color: black;
	padding: 0px 5px;
	border-radius: 5px;
	border: 1px solid #cbcbcb;
}

.cellSetAlarm {
	display: inline-block;
	width: 32px;
	min-width: 74px;
	text-align:center;
	background: white;
	color: black;
	padding: 0px 5px;
	border-radius: 5px;
    border: 1px solid #cbcbcb;
}
	.cellSetAlarm img {
		vertical-align: middle;
	}

.cellhora {
	display: inline-block;
	width: 15%;
	min-width: 60px;
	text-align:center;
	background: #33aa99;
	color: white;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 10px;
}
	.cellhora.agotado {
		background-color: #FF9900;
		color: white;
	}
	.cellhora.cancelado {
		background-color: #CC3300;
		color: white;
	}

.cellprecio {
	display: inline-block;
	width: 16%;
	text-align:center;
	background: white;
	color: black;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 10px;
	border: 1px solid #cbcbcb;
}

.cellentradas {
	display: inline-block;
	background: white;
	color: black;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 10px;
	border: 1px solid #cbcbcb;
}
	.cellentradas img {
		vertical-align: middle;
	}
	.cellentradas a {
		padding: 5px 10px;
	}

.cellduracion {
	display: inline-block;
	width: 16%;
	text-align:center;
	background: white;
	color: black;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 10px;
	border: 1px solid #cbcbcb;
}

.cell3d {
	display: inline-block;
	background: #33aa99;
	color: white;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 10px;
}
.cellvose {
	display: inline-block;
	background: #33aa99;
	color: white;
	padding: 0px 5px;
	border-radius: 5px;
	margin: 5px 10px;
}

#datos li h1 {
	font-size: 18px;
}

#datos ul {
	margin-bottom: 10px;
}

#datos li {
	background: rgba(58, 58, 58, 0.9);
	color: #f2f2f2;
	padding: 10px;
}

#datos h2 {
	margin: 0;
	padding: 5px 10px;
	background: rgba(158, 158, 158, 0.9);
}

/*.tabla tr.agotado {
	background-color: #FF9900;
}
.tabla tr.cancelado {
	background-color: #CC3300;
}*/
.agotado {
	background-color: #FF9900;
}
.cancelado {
	background-color: #CC3300;
}

/*.form {
	background: rgba(58, 58, 58, 0.9);
	padding: 10px;
	color: #f2f2f2;
}*/

.page-flat {
	background: rgba(118, 118, 118, 0.9);
	padding: 10px;
	color: #f2f2f2;
	text-align: justify;
	margin-bottom: 50px;
	position: relative;
}
.page-flat p {
	padding: 5px 20px;
}
.page-flat li {
	margin-left: 40px;
}
#info .page-flat h2 {
	margin-right: 0;
}

#info {
	margin-bottom: 40px;
}

#info h2 {
	margin: 0;
	padding: 5px 10px;
	background: rgba(158, 158, 158, 0.9);
	text-align: center;
}
#info .score {
	vertical-align: middle;
	font-size: 12px;
}
#info .score img {
	vertical-align: middle;
}
#vote img {
	cursor: pointer;
}
.h2-infantil {
	background: #8DE2FF;
	padding: 0 10px;
	margin-left: 20px;
}

#info h3 {
	margin: 0 0 5px 0;
	padding: 2px 10px;
	/*background: rgba(158, 158, 158, 0.9);*/
}

#info h4 {
	/*margin: 5px 10px 5px -10px;*/
	margin: 7px 15px 7px 0;
	/*padding: 2px 10px;*/
	/*background: rgba(158, 158, 158, 0.9);*/
	display: inline-block;
	color: bisque;
}

#info #reserva {
	background: #006699;
	padding: 10px 10px;
	width: calc(100% - 20px);
	color: white;
	/*margin-bottom: 10px;
	margin-left: -10px;
	margin-top: -10px;*/
}

#info > div {
	display: inline-block;
}

#info ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#info li {
	display: list-item;
	list-style-type: square;
}

#info .grid li {
	list-style-type: none;
        display: inline-block;
        /* font-size: 14px; */
        position: relative;
        margin: 0 10px 10px 0;
        text-align: center;
        border-radius: 5px;
        vertical-align: top;
        border: 1px solid #efefef;
        box-shadow: 0px 1px 2px #cbcbcb;
}

#info-eventos-prox, #info-eventos-pasados {
	padding: 10px;
}

#info #info-der .share-links {
	text-align: right;
	margin: 5px;
	height: 20px;
}

#info #info-der .share-links div {
	display: inline-block;
}

#info2 {
	margin-bottom: 40px;
}

#info2 .page-flat h2 {
	margin-right: 0;
}

#info2 h2 {
	margin: 0;
	padding: 5px 10px;
	/*background: rgba(158, 158, 158, 0.9);*/
	color: #666;
	text-align: center;
}
#info2 .score {
	vertical-align: middle;
	font-size: 12px;
}
#info2 .score img {
	vertical-align: middle;
}
#info2 h3 {
	margin: 0 0 5px 0;
	padding: 2px 10px;
	/*background: rgba(158, 158, 158, 0.9);*/
}

#info2 h4 {
	/*margin: 5px 10px 5px -10px;*/
	margin: 7px 15px 7px 0;
	/*padding: 2px 10px;*/
	/*background: rgba(158, 158, 158, 0.9);*/
	display: inline-block;
	color: rgba(255, 126, 0, 0.64);
}

#info2 #reserva {
	background: #006699;
	padding: 10px 10px;
	width: calc(100% - 20px);
	color: white;
	/*margin-bottom: 10px;
	margin-left: -10px;
	margin-top: -10px;*/
}

#info2 > div {
	display: inline-block;
}

#info2 ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#info2 li {
	display: list-item;
	list-style-type: square;
}

#info2 .grid li {
	list-style-type: none;
        display: inline-block;
        /* font-size: 14px; */
        position: relative;
        margin: 0 10px 10px 0;
        text-align: center;
        border-radius: 5px;
        vertical-align: top;
        border: 1px solid #efefef;
        box-shadow: 0px 1px 2px #cbcbcb;
}

#info2 #info-der .share-links {
	text-align: right;
	margin: 5px;
	height: 20px;
}

#info2 #info-der .share-links div {
	display: inline-block;
}
#info2 #info-izq {
	margin: 5px 0;
	vertical-align: top;
	text-align: center;
	max-width: 350px;
	min-width: 350px;
	width: 350px;
	min-height: 120px;
	position: relative;
	/*padding: 10px;*/
	padding-bottom: 40px;
	color: #666;
	/*color: #f2f2f2;
	/*background: rgba(100, 100, 100, 0.6);/*background: rgba(80, 80, 80, 0.7);*/
}

	#info2 #info-izq #poster {
		position: relative;
	}
		#info2 #info-izq #poster img {
			max-width: 350px;
			min-width: 200px;
			width: 350px;
			margin: auto;
		}

		#info2 .ampliar {
			position: absolute;
			right: 0;
			font-size: 26px;
			border: 1px solid white;
			float: right;
			background-color: #444;
			width: 30px;
			height: 30px;
			line-height: 28px;
			cursor: pointer;
			color: white;
		}

	#info2 #info-izq #video {
		margin: 0;
		padding: 0;
	}

	#info2 #info-izq .publiMenu {
		left: 50px;
	}

	#info2 #info-izq #last-update {
		position: absolute;
		bottom: 5px;
		left: 50%;
		margin-left: -93px;
		font-size: 10px;
	}
	#info2 #info-izq #map_canvas {
		width: 100%;
	}
		#info2 #info-izq #map_canvas img {
			max-width: initial;
			min-width: initial;
		}
	#info2 #info-izq iframe {
		width: 100%;
		/*margin-left: -10px;*/
	}
.withfanart #info2 #info-der {
	color: #f2f2f2;
	background: rgba(80, 80, 80, 0.7);
}
#info2 #info-der {
	width: calc(100% - 355px);
	/*color: #f2f2f2;*/
	color: #666;
	margin: 5px 0;
	/*background: rgba(100, 100, 100, 0.6);/*background: rgba(80, 80, 80, 0.7);*/
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
	#info2 #info-der > div{
		display: block;
	}

	#info2 #info-der #map_canvas {
		width: calc(100% - 20px);
		height: 400px;
	}
#info2 #info-der #info-horas {
	margin-top: 20px;
	padding: 0;
}
#info2 #infotodo {
	background: rgba(118, 118, 118, 0.9);
	display: block;
	color: #f2f2f2;
	padding: 10px;
	margin: 10px 5px 0 0;
}
#info2 #info-der .info-horas-fecha-detail {
	display: none;
}

.share-links .fb-share-button {
	position: relative;
	top: -4px;
}

.botones {
	margin: 25px auto;
	width: 285px;
}

.boton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
	margin: 0 20px;
}
.boton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.boton:active {
	position:relative;
	top:1px;
}

.withfanart #info #info-izq {
	color: #f2f2f2;
	background: rgba(80, 80, 80, 0.7);
}

#info #info-izq {
	margin: 5px 0;
	vertical-align: top;
	text-align: center;
	max-width: 350px;
	min-width: 350px;
	width: 350px;
	min-height: 120px;
	position: relative;
	/*padding: 10px;*/
	padding-bottom: 120px;
	color: #f2f2f2;
	background: rgba(100, 100, 100, 0.6);/*background: rgba(80, 80, 80, 0.7);*/
}

	#info #info-izq #poster {
		position: relative;
	}
		#info #info-izq #poster img {
			max-width: 350px;
			min-width: 200px;
			width: 350px;
			margin: auto;
		}

		.ampliar {
			position: absolute;
			right: 0;
			font-size: 26px;
			border: 1px solid white;
			float: right;
			background-color: #444;
			width: 30px;
			height: 30px;
			line-height: 28px;
			cursor: pointer;
			color: white;
		}

	#info #info-izq #video {
		margin: 0;
		padding: 0;
	}

	#info #info-izq .publiMenu {
		left: 50px;
	}

	#info #info-izq #last-update {
		position: absolute;
		bottom: 5px;
		left: 50%;
		margin-left: -93px;
		font-size: 10px;
	}
	#info #info-izq #map_canvas {
		width: 100%;
	}
		#info #info-izq #map_canvas img {
			max-width: initial;
			min-width: initial;
		}
	#info #info-izq iframe {
		width: 100%;
		/*margin-left: -10px;*/
	}


#info-credits {
	text-align: left;
	width: 100%;
	/*float: left;*/
}

.withfanart #info #info-der {
	color: #f2f2f2;
	background: rgba(80, 80, 80, 0.7);
}

#info #info-der {
	width: calc(100% - 355px);
	color: #f2f2f2;
	margin: 5px 0;
	background: rgba(100, 100, 100, 0.6);/*background: rgba(80, 80, 80, 0.7);*/
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
	#info #info-der > div{
		display: block;
	}

	#info #info-der #map_canvas {
		width: calc(100% - 20px);
		height: 400px;
	}

#info-ficha > div {
	text-align: justify;
	padding: 0 10px;
}
	#info-ficha img {
		vertical-align: middle;
		padding: 10px 5px;
		margin-right: 5px;
	}


#info #info-der #info-horas {
	margin-top: 20px;
	padding: 0;
}

#info-horas .tabla {
	margin: 0;
}

	#info-horas #horarios {
		text-align:center;
		color: white;
	}
		#info-horas #horarios ul {
			padding:0;
		}
			#info-horas #horarios ul li {
				display: inline-block;
				height: 120px;
				width: 130px;
				vertical-align: top;
				background: #aaa;
			}
			#info-horas #horarios ul li.active {
				background:#ccc;
				color: #444;
			}
				#info-horas #horarios ul li div {
					padding: 10px;
				}
					#info-horas #horarios ul li div.dayname {
						background: #888;
					}
					#info-horas #horarios ul li.active div.dayname {
						background: #bbb;
					}
						#info-horas #horarios ul li div.dayhoras hr {
							border-style: solid;
						}

#info #infotodo {
	background: rgba(118, 118, 118, 0.9);
	display: block;
	color: #f2f2f2;
	padding: 10px;
	margin: 10px 5px 0 0;
}

.info-horas-fecha {
	text-align: center;
	color: white;
	background: rgba(118, 28, 28, 0.9);
	padding: 5px;
	font-size: 26px;
	cursor: pointer;
}
#info #info-der .info-horas-fecha-detail {
	display: none;
}

.info-horas-cine {
	color: white;
	background: rgba(78, 28, 28, 0.9);
	padding: 5px;
	font-size: 18px;
}

.ocultar {
	float: right;
	/*color: #ee7E00;*/
	cursor: pointer;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
}

.nota{
	font-size: 12px;
}

input[type=checkbox].css-checkbox {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px;
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}

.css-label{ background-image:url(../img/interface/lite-green-check.png); }

.fecha {
	background: white; /*rgba(158, 158, 158, 0.9);*/
	height: 25px;
	font-size: 22px;
	line-height: 26px;
	color: #666;/*#ffffff;*/
	/*text-shadow: 1px 1px 2px #444444;*/
	font-weight: bold;
	width: calc(100% - 20px);
	text-align: center;
}

.fecha.celda.density-compact {
	width: calc(100% - 20px);
	height: 5px;
	line-height: 3px;
	font-size: 16px;
}
.fecha.linea.density-compact {
  	width: calc(100% - 10px);
  	padding-left: 10px;
	height: 25px;
	line-height: 23px;
	font-size: 16px;
}

.type-title {
	background: rgba(158, 158, 158, 0.9);
	height: 25px;
	font-size: 22px;
	line-height: 26px;
	color: #ffffff;
	/*text-shadow: 1px 1px 2px #444444;*/
	font-weight: bold;
	width: calc(100% - 20px);
}
	.type-title.linea.density-compact {
	  	width: calc(100% - 10px);
	  	padding-left: 10px;
		height: 25px;
		line-height: 23px;
		font-size: 16px;
	}

#map_canvas {
	margin: auto;
	height: 300px;
}

#puntosPoly {
	min-width: 250px;
}

/*Paginas de Formularios*/
.field {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    max-width: 450px;
}

.field_label {
    display: block;
    position: absolute;
    top: 25px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    color: white;
}

.field_input {
    position: absolute;
	display: block;
	box-sizing: border-box;
	padding: 5px 10px;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid white;
	height: 40px;
	border-radius: 5px;
	width: 100%;
	color: black;
}
textarea.field_input {
    height: 200px;
    resize: none;
}

.field_input:valid {
    position: relative;
    top: 40px;
    margin-top: -40px;
}

.field_input:focus {
    border-bottom-color: #d40000;
}
#info.formulario li {
    list-style: none;
}
#info.formulario div {
    display: block;
}
#info.formulario form ul {
     height: 350px;
     width: 400px;
     margin: 0 auto;
     padding-left: 0px;
}
/*Fin paginas de formularios*/

/*Columnas 1*/
@media screen and (max-width: 584px) {
	html {
		font-size: 12px;
	}
	nav#filters {
		height: 40px;
	}
	#filters font { font-size: 12px;}
	#filters li {
		max-height: 18px;
	}
	#filters img {
		max-height: 40px;
		max-width: 40px;
	}
	#filters li img {
		max-height: 40px;
		max-width: 40px;
	}
	nav#menulateral {
		top: 40px;
		height: calc(100% - 62px);
		left: -200px;
	}
		nav#menulateral #pin {
			display: none;
		}
		nav#menulateral li {
			opacity: 0.8;
		}
		nav#menulateral a {
			color: #222;
		}
	nav #view-config .dropdown-menu {
		top: 40px;
	}
	nav #search .dropdown-menu {
		top: 40px;
		right: -41px;
	}
	nav #header-logo {
		font-size: 16px;
		line-height: 42px;
	}
		nav #header-logo img {
			height: auto;
			margin-top: 8px;
		    max-width: 100px;
		    margin-left: -10px;
		}
	h1 {
		font-size: 16px;
	}
	#sectionTitle {
		font-size: 16px;
		top: 9px;
		margin-left: -75px;
	}
	#content {
		width: calc(100% - 20px);
		margin: 35px auto 0;
		left: 0;
	}
	#contentMap {
		width: 100%;
		margin: 35px auto 0;
		left: 0;
	}
	#content.lista {
		width: calc(100% - 20px);
		margin: 35px auto 0;
	}
	footer {
		font-size: 11px;
		height: 18px;
		padding:2px;
	}
	#footer-social {
		margin-top: 0;
	}
	#footer-social img {
		height: 18px;
		width: 18px;
	}
	#cookie-law-info-bar {
		bottom: 22px;
	}
	#cookie_action_close_header {
		padding: 0 5px;
	}
	#info #info-izq, #video {
		width: 100%;
		min-width: 0;
		max-width: 100%;
	}
		#info #info-izq #poster img {
			width: 100%;
		}
		#info #info-izq .publiMenu {
			left: 0;
		}
		#info #info-izq #map_canvas {
			width: 100%;
			min-width: initial;
		}
		#info #info-izq iframe {
			width: 100%;
		}
	#info #info-der {
		width: 100%;
	}
		#info #info-der .share-links {
			height: 30px;
		}
	#info2 #info-izq, #video {
		width: 100%;
		min-width: 0;
		max-width: 100%;
	}
		#info2 #info-izq #poster img {
			width: 100%;
		}
		#info2 #info-izq .publiMenu {
			left: 0;
		}
		#info2 #info-izq #map_canvas {
			width: 100%;
			min-width: initial;
		}
		#info2 #info-izq iframe {
			width: 100%;
		}
	#info2 #info-der {
		width: 100%;
	}
		#info2 #info-der .share-links {
			height: 30px;
		}
	.info-horas-fecha {
		font-size: 18px;
		padding: 5px 0;
	}
	.info-horas-cine {
		font-size: 14px;
	}
	.tabla th {
		padding: 5px;
		word-break: break-all;
	}
	.tabla td {
		padding: 5px;
	}
	.stamp {
		height: 470px;
	}
	.linea {
		height: 30px;
		width: calc(100% - 20px);
		position: relative;
	}
		.linea .grid-info {
			height: 50px;
		}
		.linea .grid-info a {
			position: absolute;
			top: 25px;
			left: 5px;
			width: calc(100% - 20px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0;
		}
		.linea .grid-info .genre {
			top: auto;
			padding: 0 5px;
			width: calc(100% - 280px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
		}
		.linea .grid-info .hour {
			float: left;
			background: #888;
			padding: 1px 5px;
			border-bottom: 1px solid #888;
		}
		.linea .grid-info .type {
			top: 0;
			bottom:auto;
		}
	.linea.density-compact {
		height: 35px;
		width: 100%;
	}
		.linea.density-compact .grid-info {
			height: 35px;
		}
		.linea.density-compact .grid-info a {
			position: absolute;
			top: 16px;
			left: 5px;
			width: calc(100% - 20px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0;
		}
		.linea.density-compact .grid-info .genre {
			top: auto;
			padding: 3px 5px;
            width: calc(100% - 232px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
		}
		.linea.density-compact .grid-info .hour {
			padding: 1px;
			height: 15px;
		}
		.linea.density-compact .grid-info .type {
			top: 0;
			bottom:auto;
		}
	.linea .ribbon-wrapper {
		right: 0;
		bottom: 0;
	}
	.fecha {
		margin-left: 0;
		font-size: 12px;
		line-height: 10px;
		height: 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
		.fecha.linea {
			width: calc(100% - 20px);
		}
		.fecha.celda.density-compact {
			font-size: 12px;
			margin-left: 0;
			width: calc(100% - 20px);
		}
		.fecha.linea.density-compact {
			font-size: 12px;
		}
	.type-title {
		margin-left: 0;
		font-size: 12px;
		line-height: 10px;
		height: 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		width: calc(100% - 20px);
	}
		.type-title.linea.density-compact {
			font-size: 12px;
		}
}

/*Columnas 2*/
@media screen and (max-width: 864px) and (min-width: 585px) {
	html {
		font-size: 12px;
	}
    #header-logo {
        font-size: 26px;
    }
    nav#menulateral {
        top: 50px;
        min-height: calc(100% - 82px);
        height: calc(100% - 82px);
    }
    #cookie-law-info-bar {
		bottom: 22px;
	}
	#cookie_action_close_header {
		padding: 0 5px;
	}
	#info #info-izq, #poster, #video {
		max-width: 250px;
		min-width: 250px;
		width: 250px;
	}
		#info #info-izq .publiMenu {
			left: 0;
		}
		#info #info-izq #map_canvas {
			width: 100%;
			min-width: initial;
		}
		#info #info-izq #poster img {
			width: 250px;
		}
	#info #info-der {
		max-width: calc(100% - 270px);
		min-width: calc(100% - 280px);
		width: calc(100% - 273px);
	}
		#info #info-der .share-links {
			height: 30px;
		}
	#info2 #info-izq, #poster, #video {
		max-width: 250px;
		min-width: 250px;
		width: 250px;
	}
		#info2 #info-izq .publiMenu {
			left: 0;
		}
		#info2 #info-izq #map_canvas {
			width: 100%;
			min-width: initial;
		}
		#info2 #info-izq #poster img {
			width: 250px;
		}
	#info2 #info-der {
		max-width: calc(100% - 270px);
		min-width: calc(100% - 280px);
		width: calc(100% - 273px);
	}
		#info2 #info-der .share-links {
			height: 30px;
		}
	.info-horas-fecha {
		font-size: 18px;
		padding: 5px 0;
	}
	.info-horas-cine {
		font-size: 14px;
	}
	.linea {
		height: 30px;
		width: calc(100% - 20px);
	}
		.linea .grid-info {
			height: 50px;
		}
		.linea .grid-info a {
			position: absolute;
			top: 25px;
			left: 5px;
			width: calc(100% - 20px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0;
		}
		.linea .grid-info .genre {
			top: auto;
			padding: 0 5px;
			width: calc(100% - 280px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
		}
		.linea .grid-info .hour {
			float: left;
			background: #888;
			padding: 1px 5px;
			border-bottom: 1px solid #888;
		}
		.linea .grid-info .type {
			top: 0;
			bottom:auto;
		}
	.linea.density-compact {
		height: 35px;
		width: 100%;
	}
		.linea.density-compact .grid-info {
			height: 35px;
		}
		.linea.density-compact .grid-info a {
			position: absolute;
			top: 16px;
			left: 5px;
			width: calc(100% - 20px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0;
		}
		.linea.density-compact .grid-info .genre {
			top: auto;
			padding: 3px 5px;
            width: calc(100% - 232px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
		}
		.linea.density-compact .grid-info .hour {
			padding: 1px;
			height: 15px;
		}
		.linea.density-compact .grid-info .type {
			top: 0;
			bottom:auto;
		}
	.linea .ribbon-wrapper {
		right: 0;
		bottom: 0;
	}
	.tabla th {
		padding: 5px;
		word-break: break-all;
	}
	.tabla td {
		padding: 5px;
	}
	.stamp {
		height: 470px;
	}
	.fecha {
		font-size: 16px;
		line-height: 16px;
		height: 18px;
	}
}

/*Columnas 3*/
@media screen and (max-width: 1144px) and (min-width: 865px) {
    body.pml-open #content {
        left: 90px;
        width: calc(100% - 190px);
	    margin-left: auto;
	}
    nav#menulateral {
        top: 50px;
        height: calc(100% - 72px);
        width: 180px;
    }
	.info-horas-fecha {
		font-size: 18px;
		padding: 5px 0;
	}
	.info-horas-cine {
		font-size: 16px;
	}
	.tabla th {
		padding: 5px;
		word-break: break-all;
	}
	.tabla td {
		padding: 5px;
	}
	.stamp {
		height: 577px;
	}
	.fecha {
		font-size: 16px;
		line-height: 16px;
		height: 18px;
	}
}

/*Calendar styles*/
#datepicker {
	margin: 10px 0;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0;
}
.ui-state-disabled {
	cursor: default !important;
}
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}
.ui-datepicker {
	display: none;
	font-size: 12px;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 0px;
	width: 1.8em;
	height: 1.6em;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
	font-size: 12px;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
	font-size: 12px;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	font-size: 12px;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: normal;
	border: 0;
}
.ui-datepicker td {
	border: 1px solid #ddd;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget-content {
	//background: #222222;
	//color: #ffffff;
	color: #222;
}
.ui-widget-content a {
	color: #ffffff;
}
.ui-widget-header {
	background: #666;
	color: #ffffff;
	font-weight: normal;
}
.ui-widget-header a {
	//color: #ffffff;
	color: #222;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	//border: 1px solid #bbb;
	font-weight: normal;
	color: #eeeeee;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #eeeeee;
	text-decoration: none;
}
nav#filters .ui-datepicker a {
	color: #222;
	text-align: center;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #bbb;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #c40000;
	background: rgba(200,0,0,0.5);
	font-weight: normal;
	color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #ffffff;
	text-decoration: none;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	background: #ddd;
	border: 1px solid #888;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #2e7db2;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(images/ui-icons_cccccc_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(images/ui-icons_ffffff_256x240.png);
}
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
/*Fin calendar styles*/
